<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>View Ticket</title>

	<style>
		header {
			background-color: blue;
			padding: 10px;
			color: white;
		}

		body {
			margin: 0;
			font-family: Arial, sans-serif;
			background-color: #f1f1f1;
		}

		h3 {
			background-color: blue;
			color: white;
			padding: 10px;
			margin-top: 0;
		}

		table {
			width: 100%;
			background-color: white;
			border-collapse: collapse;
			margin: 20px;
		}

		th,
		td {
			padding: 10px;
			border: 1px solid #ccc;
		}
	</style>

</head>

<body>

	<div th:include="header :: header"></div>

	<table>
		<h3>View Ticket</h3>
		<tr>
			<th>Title</th>
			<th>Short Description</th>
		</tr>
		<tr>
			<td th:text="${ticket.title}"></td>
			<td th:text="${ticket.shortDescription}"></td>
		</tr>
	</table>
</body>

</html>